<div id="center">
	<div id="context_nav">
		<h1>Update Bid</h1>		
	</div><!--end context_nav-->

	<% form_for @bid, :html => { :multipart => true } do |edit_bid|%>
		<fieldset>
		<%= edit_bid.label :import_data, "CSV File" %>
		<%= file_field_tag :csv_file %>
		<br />
		</fieldset>
		<%= edit_bid.submit "import lanes"%> or <%= link_to "back to bid", @bid %>

	<% end %>	
	
</div><!--end center-->

<div id="right">
</div><!--end right-->