<% for customer in customers %>

	<div class="box">

	 	<h2><%= link_to customer.name , customer %></h2>
	 	<br />
		<%=h customer.powerpro_id %>		
		<br />
		<%=h "Bids: " + customer.bids.count.to_s %>
		<br />
		<%=h "Lanes: 42 " %>

	</div><!--end box-->

<% end %>



