<% for customer in customers %>

	<div class="box">

	 	<h2><%= link_to customer.name , customer , :class => 'simple'%></h2>
		
		<%=h customer.powerpro_id %>		
		<br />
		<%=h "Bids: " + customer.bids.count.to_s %>
		<br />
		<%=h "Lanes: " + customer.lanes.count.to_s %>

	</div><!--end box-->

<% end %>



